@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="btn-group nav">
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown"><i class="far fa-user-circle fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i></button>
            <ul class="dropdown-menu" role="menu">
                <li><h5 align="center"><b>@User.Identity.Name</b></h5></li>
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Ajouter des cours", "AjouterCours", "Ecurie", new { area = "" }, new { @class = "dropdown-item" })</li>
                    <li>@Html.ActionLink("Ajouter des professeurs", "AjouterProfesseur", "Ecurie", new { area = "" }, new { @class = "dropdown-item" })</li>
                }
                <li><a href="#">View Profile</a></li>
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Setting</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Déconnecter</a></li>
            </ul>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
